.rbc-calendar {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.rbc-event {
  border-radius: 5px;
  padding: 5px;
}

.rbc-toolbar {
  background-color: #e0f7fa;
  padding: 10px;
}

.rbc-day-bg {
  border: 1px solid #ddd;
}
